.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .icon-clients,
.clients-list-link:focus .icon-clients {
  fill: var(--accent-color);
}

.clients-box:hover,
.clients-box:focus {
  border: 1px solid var(--accent-color);
}
